:root {
    --base-color: purple;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--base-color);
    font-family: Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    text-align: center;
}

p a, p a:hover, p a:active, li a, li a:hover, li a:active {
    color: var(--base-color);
}

p a:hover{
    font-weight: bold;
}

/* Tickets */

#tickets{
    padding-top: 1em;
    padding-bottom: 1em;
}

#tickets .button, #tickets .button a:active, #tickets .button a:hover{
    background-color: var(--base-color);
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 15px;
}

#tickets p{
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 1.5em;
}

@media screen and (width >= 1000px) {
#main-container{
    max-width: 50%;    
}

.logo {
    width: 40%;
}

#social-media .social{
    width: 2em;
    height: 2em;
}

#tickets .button, #tickets .button a:active, #tickets .button a:hover {
    font-size: 3em;
}
}

@media screen and (width >= 400px) and (width < 1000px) {
#main-container{
    max-width: 80%;    
}

.logo {
    width: 60%;
}

.bottom{
    width: 20% !important; 
}

#social-media .social{
    width: 1.5em;
    height: 1.5em;
}
#tickets .button, #tickets .button a:active, #tickets .button a:hover {
    font-size: 2em;
}
}

@media screen and (width < 400px) {
#main-container{
    max-width: 90%;
}

.logo {
    width: 80%;
}

#social-media .social{
    width: 1em;
    height: 1em;
}

#tickets .button, #tickets .button a:active, #tickets .button a:hover {
    font-size: 2em;
}
}


#main-container{
    margin: 0 auto;
}


#logo-container{
    background-color: var(--base-color);
    min-height: 20vh;
    text-align: center;
    width: 100%;
}

#logo-container.lower{
    margin-top: 1em;
}
#content{
    min-height: 80vh;
    background-color: white;
    padding: 2em;
}

.text-content {
    text-align: left;
}

#social-media {
    width: 100%;
}

#social-media ul {
    list-style: none;
    padding: 0;
}

#social-media li {
    display: inline;
}

#social-media .social{
    width: 2em;
    height: 2em;
}

#social-media svg{
    fill: var(--base-color);
}

.page-metadata{
    text-align: right;
    font-style: italic;
}

#program {
    text-align: left;
}

p.updated{
  font-style: italic;
  padding-top: 1em;
}

/* Program */

#program ul{
  list-style-type: none;
  padding: 0;
}

#program li {
  padding-bottom: 0.3rem;
}

.left-align {
    text-align: left;
}

/* Talk */

#logo-container.logo-talk img {
    max-width: 10em;
}

.speaker h2{
    text-align: left !important;
}

.speaker ul{
    list-style-type: none;
    padding: 0;
}

.speaker ul, .speaker li{
    display: inline;
}

ul.talk-information{
    list-style-type: none;
    padding: 0;
}

.speaker .bio{
  display: grid;
  grid-template-columns: 30% 70%;
}

.speaker .bio div{
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.speaker .bio img{
  border: 0;
  max-width: 100%;
}

.speaker svg{

  fill: var(--base-color);

  width: 1.5em;
  height: 1.5em;
  padding-left: 0.1em;
}
